doctype html
html
  head
    title Webpack with Pug, Less and TypeScript!
  body
    header
      button#Home( onclick="router.load('home')" ) Home 
      button#About( onclick="router.load('about')" ) About
      button#Contact( onclick="router.load('contact')" ) Contact
      //button( (click)="func()", [if]="condition" ) {variable}
    router
