doctype html
html
  head
    title Webpack with Pug, Less and TypeScript!
  body
    header
      button( onclick="router.load('home')" ) Home 
      button( onclick="router.load('about')" ) About
      button( onclick="router.load('contact')" ) Contact
      //button( (click)="func()", [if]="condition" ) {variable}
    router
