doctype html
html
  head
    title Webpack with Pug, Less and TypeScript!
  body
    header
      button( [router]='/' ) Home
      a( [router]='/about' ) About
      button( [router]='/contact' ) Contact
    router
    div( id='test' ) test
